# Database
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=hackz_db
MYSQL_USER=hackz_user
MYSQL_PASSWORD=hackz_password

# API Endpoints
GRAVITY_API_URL=http://gravity-api:8080
LOGIC_API_URL=http://logic-api:8000
DB_HOST=db
DB_PORT=3306

# Frontend
VITE_API_GRAVITY_URL=http://localhost:8080
VITE_API_LOGIC_URL=http://localhost:8000
